@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");

:root {
  --body-bg-color: #e4e6f5;
  --border-color: #e5e4e9;
  --border-color-light: #e5e4e92b;
  --theme-bg-color: #fff;
  --body-color: #1b1f31;
  --bg-icons: #ff537b;
  --progress-no-fill: #e7e7ef;
  --main-color: #7a7e9d;
  --main-light-color: #a1a4b9;
  --title-color: #979dc3;
  --body-font: "Jost", sans-serif;
  --button-bg-color: #eaeefc;
  --button-color: #4d76fd;
  --unselected-mail: #f1f2f7;
  --calendar-border-color: #cbcfe0;
  --main-container-bg: #f0f0f7;
  --black-font: #000000;

  /*SIZES*/
  --sm-icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}
