*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
  letter-spacing: 0.018rem;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  background-color: var(--theme-bg-color);
}

button,
input,
form,
textarea {
  border: none;
  font-family: inherit;
}

input:focus {
  outline: none;
}

picture,
img,
svg {
  max-width: 100%;
  display: block;
}

/*UTILITY CLASSES*/

/*LAYOUT [DISPLAY FLEX]*/
.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.column {
  flex-direction: column;
}

/*LAYOUT [POSITION]*/
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.top {
  top: 0;
}

.top-1 {
  top: 0.05rem;
}

.top-2 {
  top: 1rem;
}

.right {
  right: 0;
}

.right-1 {
  right: 1.25rem;
}

.right-5 {
  right: 2rem;
}

.left {
  left: 0;
}
.left-1 {
  left: 0.25rem;
}

.left-2 {
  left: 0.5rem;
}

.left-3 {
  left: 0.75rem;
}

.left-5 {
  left: 1.5rem;
}

.left-6 {
  left: 2rem;
}

.bottom {
  bottom: 0;
}

.bottom-6 {
  bottom: 2rem;
}

.bottom-5 {
  bottom: 1.5rem;
}

/*SIZING*/

.overflow-h {
  overflow: hidden;
}

.scroll {
  overflow: auto;
}

.sizing-1 {
  width: 10px;
  height: 10px;
}

/*PADDING & MARGIN & GAP*/
.p-1 {
  padding: 0.35rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 1.5rem;
}

.p-4 {
  padding: 2rem;
}

.pt {
  padding-top: 0.5rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.px-1 {
  padding: 0 0.5rem;
}

.px-2 {
  padding: 0 1rem;
}

.py-1 {
  padding: 0.5rem 0;
}

.py-2 {
  padding: 1rem 0;
}

.py-3 {
  padding: 1.5rem 0;
}

.py-4 {
  padding: 2rem 0;
}

.gap-1 {
  gap: 0.55rem;
}

.gap-2 {
  gap: 1rem;
}

.gap-3 {
  gap: 1.5rem;
}

.one-hdrd-fv-max {
  min-width: 415px;
}

.full-w {
  width: 100%;
}

.fit-w {
  width: fit-content;
}

.full-h {
  height: 100%;
}

.min-h {
  min-height: 100dvh;
}

.max-h {
  max-height: 100vh;
}

.max-h-90 {
  max-height: 90dvh;
}

.fit-h {
  height: fit-content;
}

.h-1 {
  height: 10px;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-3 {
  margin-top: 3em;
}

.mt-4 {
  margin-top: 4em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 3em;
}

.mb-4 {
  margin-bottom: 4em;
}

.mr-0 {
  margin-right: 0em;
}

.mr-1 {
  margin-right: 1em;
}

.mr-2 {
  margin-right: 2em;
}

.mr-3 {
  margin-right: 3em;
}

/*PENDIENTE*/
.icon-sm {
  width: var();
}

.icon-md {
  width: var();
}

.icon-lg {
  width: var();
}

/*TEXT-ALIGN*/

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/*FONT-COLORS*/

.text-gray {
  color: var(--title-color);
}

.text-grey {
  color: var(--main-color);
}

.text-light-grey {
  color: var(--main-light-color);
}

.text-black {
  color: var(--black-font);
}

/*FONT SIZES*/

.f-smaller {
  font-size: smaller;
}

.fxx-small {
  font-size: xx-small;
}

.f-28 {
  font-size: 28px;
}

/*FONT WEIGHTS*/
.f-w-700 {
  font-weight: 700;
}

/*BACKGROUNDS*/

.bg-tab {
  background-color: #f1f2f7;
}

.bg-no-fill {
  background-color: var(--progress-no-fill);
}

.icon-color {
  background-color: var(--bg-icons);
}

.icons-userInfo {
  background-color: var(--bg-icons);
  color: aliceblue;
  padding: 0.01rem 0.3rem;
}

.bg-button {
  background-color: var(--button-bg-color);
}

/*FONT SIZE*/

.text-smaller {
  font-size: x-small;
}

.text-small {
  font-size: 0.75rem;
}

.text-medium {
  font-size: medium;
}

.text-large {
  font-size: large;
}

/*FONT WEIGHT*/

.text-light {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.text-normal {
  font-weight: 600;
}

.quarter-screen {
  width: 25vw;
}

.screen {
  width: 40vw;
}

/*BORDERS*/

.border-gray {
  border: 1px solid var(--border-color);
}

.b-bottom {
  border-bottom: 1px solid var(--border-color);
}

.b-left {
  border-left: 1px solid var(--border-color);
}

.b-top {
  border-top: 1px solid var(--border-color);
}

.b-right {
  border-right: 1px solid var(--border-color);
}

.full-r {
  border-radius: 100%;
}

.semi-r {
  border-radius: 20px;
}

.bw-1 {
  border: 1px solid;
}

.bw-2 {
  border: 2px solid;
}

.bw-3 {
  border: 3px solid;
}

.br-2 {
  border-radius: 8px;
}

.none {
  border: none;
}

.cover {
  object-fit: cover;
}

/*CURSOR*/

.pointer {
  cursor: pointer;
}

.collapsed {
  display: none;
}

/* HOVER */

.hover-uns:hover {
  background-color: #f1f2f7;
}

/*FIX !!!*/
/*FIX !!!*/
/*FIX !!!*/

.create-task {
  position: static;
  color: white;
  font-weight: 500;
  background-color: black;
  padding: 8px 26px;
}

.tab-container {
  background-color: #f1f2f7;
  padding: 0.75em 1em;
  border-radius: 20px;
  width: 230px;
  height: 40px;
}

.indicator {
  position: absolute;
  left: 15px;
  z-index: 1;
  background-color: black;
  padding: 0.85em 3em;
  border-radius: 20px;
}

.tab-container > p {
  z-index: 999;
  font-weight: 500;
  color: #a1a4b9;
}

.inbox {
  width: 100%;
  text-align: center;
}

.calendar {
  width: 100%;
  text-align: center;
}

.trslt {
  left: 117px;
  transition: 0.3 ease all;
}

/*COLOR PICKER*/

.custom-color-picker {
  color: white;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 32px;
  height: 32px;
}

.input-color-picker {
  position: absolute;
  top: -8px;
  left: -8px;
  width: 55px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 50%;
}

.svg-color-picker {
  position: absolute;
  top: 7px;
  left: 6px;
  fill: white;
}

.h-calc {
  height: calc(100% - 80px);
}
